/* .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36
} */

/* .hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color: #8be9fd
} */
.hljs {
    display: block;
    background: #f6f6f6;
    color: #333
}

.hljs-comment,.hljs-meta {
    color: #6a737d
}

.hljs-emphasis,.hljs-quote,.hljs-string,.hljs-strong,.hljs-template-variable,.hljs-variable {
    color: #032f62
}

.hljs-keyword,.hljs-selector-tag,.hljs-type {
    color: #d73a49
}

.hljs-attribute,.hljs-bullet,.hljs-literal,.hljs-symbol {
    color: #005cc5
}

.hljs-name,.hljs-section {
    color: #22863a
}

.hljs-tag {
    color: #333
}

.hljs-attr,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-title {
    color: #6f42c1
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec
}

.hljs-link {
    text-decoration: underline
}
/* .hljs-function .hljs-keyword {
    color: #d73a49
} */

.hljs,
.hljs-subst {
    color: #f8f8f2
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #cb7832
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #7f9f7f
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold
}

.hljs-emphasis {
    font-style: italic
}

.dd-content code {
    display: block;
    font-size: 13px;
    line-height: 1.6;
    background: #f6f6f6;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 10px;
    margin: 0;
    word-break: break-all;
    overflow: visible;
    border-radius: 3px;
}

pre{
    display: block;
    font-size: 13px;
    line-height: 1.6;
    background: #f6f6f6;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    margin: 16px 0 14px;
    padding: 14px 15px 12px;
    border-radius: 3px;
    border: none;
    word-break: initial;
    word-wrap: initial;
    white-space: pre;
    overflow: auto;
}